#home-forPhone-article-list-main-div {
    position: relative;
    width: 100%;
    padding: 5px 5px;
    margin-top: 30px;
}
.home-forPhone-article-list-title-div {
    position: relative;
    height: 29px;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px 5px;
    background-color: rgba(141, 90, 69, 0.4);
    color: #ECE3D9;
    .home-list-title-icon {
        display: inline-block;
        margin-right: 10px;
    }
    .home-forPhone-article-list-title {
        position: relative;
        float: left;
    }
    .home-forPhone-article-list-title-arrow {
        position: relative;
        float: right;
    }
}
.home-forPhone-article-list-div {
    display: block;
    position: relative;
    width: 100%;
    min-height: 250px;
    overflow: hidden;
    cursor: pointer;
    a {
        color: rgba(141, 90, 69, 1);
    }
    .home-forPhone-article-list-li {
        display: block;
        position: relative;
        left: 0;
        width: 100%;
        line-height: 30px;
        text-align: left;
        .home-forPhone-article-list-li-tag {
            display: inline-block;
            position: relative;
            text-align: center;
            margin: 0px 10px;
            padding: 2px 5px;
            border-radius: 5px;
            font-size: 12px;
            height: 25px;
            line-height: 22px;
            width: auto;
            background-color: rgba(141, 90, 69, 0.25);
            color: #ECE3D9;
        }
        .home-forPhone-article-list-li-title {
            position: relative;
            display: inline-block;
            padding-top: 2px;
            font-size: 14px;
            height: 100%;
        }
    }
    
}