#welcome-pepar-main-div{
    position: absolute;
    bottom: -4px;
    left: 280px;
    width: 360px;
    height: 320px;
    background-color: transparent;
    #word{
        margin: auto;
        color: #f2f2f2;
        font: 500 normal 20px 'tahoma';   
    }
}